@media screen and (max-width: 375px){
    div.itCdkB{
        display: flex;
        align-items: center;
        padding: 8px;
       }

    button.iMgwtV{
        height: none;
        width: none;
        margin-right: none;
        margin: 8px;
        margin-top: none;
        background-color: #A9A9A9;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        font-size: 0.8rem;
    }

    .fHFcCg{
       margin-right: none;
       margin-top: none;
    }


    div.sc-AxiKw{
        display: none;
    }
    
    div.sc-Axmtr{
        display: grid;
        text-align: center;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        margin-bottom: 32px;
    }
    
    div.sc-fzoLsD{
        margin: 0 auto;
        width: 360px;
        height: 430px;
        word-break:break-all ;
    }

    div.msAiu p{
        margin: 8px;
    }

    div.fOgvLU{
      display: grid;
    }

    div.sc-fznWOq{
        display: grid;
        margin: 0 auto;
    }

    div.sc-fznWOq a{
      display: none;
      
    }

    .fOgvLU p{
        margin-left: none;
    }

    div.sc-fzqPZZ a img{
       width: 25px;
       height:25px;
       margin: 0;
       justify-content: space-around;
    }
    
    div.sc-fzqBkg{
        text-align: center;
        width: 100px;
        
    }

    div.sc-fzqBkg  a{
      display: block;
    }

    div.sc-fzolEj{
        margin: 0;
        text-align: center;
    }
}
    